<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>TweetBook</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script type="text/javascript" src="js/init.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <nav class="teal lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">TweetBook</a>
        </div>
    </nav>
    <div class="section no-pad-bot first" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center">Post to Twitter</h1>
            <div class="row center">
                <h3 class="header col s12 light">Upload your status updates from anywhere. Even from outside of twitter. Cool, isn't it?</h3>
            </div>
            <div class="row center">
                <a href="/twitter/authz" class="btn waves-effect waves-light orange"><span class="fa fa-twitter"></span>&nbsp;&nbsp;Authorize App</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/twitter/tweet" class="btn waves-effect waves-light orange"><span class="fa fa-twitter"></span>&nbsp;&nbsp;Post to Twitter</a>
            </div>
            <br><br>
        </div>
    </div>
    
    <footer class="page-footer">
        <div align="center" class="container">
            © 2016 GS7 Inc.
        </div>
    </footer>
</body>
</html>